@import 'var';
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol,li { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#FAFAFA;
     }
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom:1;
}
*{
  box-sizing: border-box;
}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.container{  /*版心 提取 */
    width: 1080px;margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

header{
    .container{min-width: 1080px;}
    background-color: #fff;
    #header_top{
    background-color: #EBEBEB;border-bottom:1px solid #ccc;
    li{float:left; height: 28px;line-height: 28px;padding-right: 8px;}
    .ht_left{
        li:nth-child(2) a,li:nth-child(4) a{color:#0066FF;}
        }
    .ht_right li:nth-child(2){padding:0 15px;}
    }
    .header_base{
          .logo{
            display:inline-block;
            a{display:block;height: 95px;width: 300px;background: url('../img/fhlg.fw.png')0 -70px; }
        }
        .search{
            position:relative;
            height: 100px;line-height: 100px;margin-left:335px;font-size: 0;
            .insert{height: 30px;width: 350px;border:1px solid $mainColor;padding:5px;font-size: 16px;}
            .res{position:absolute;top:66%;z-index:1000;border:1px solid #ccc;display:none;
                ul{background-color:#fff;width:350px;height: 350px;li{font-size: 16px;margin-left:30px;
                    height:30px;cursor:pointer;}}}
            #lookfor{height: 30px;width: 82px;background-color:$mainColor;cursor:pointer;}
        }
    }
    .catchTop{
        display:none;z-index:1000;width: 100%;height: 100px;background-color: #fff;box-shadow:2px 2px 2px 2px;
    }
} 

footer{
    margin-top: 20px;padding-top: 60px;background-color: #fff;
    .footer_top_l{height: 154px;padding-left:50px;width: 273px;border-right:1px solid #ccc;p{padding-top: 15px;strong{font-size: 16px;}span{color:#f00;}}}
    .footer_top_r .ft1{height: 154px;width: 150px;border-right:1px solid #ccc;text-align:left;padding:0 20px;dt{
        color:#000;font-size: 14px;font-weight: bold;}dd{padding-top: 5px;}a{color:#bbb;}a:hover{color:skyblue;}}
    .ft1:last-child{border:0;}
    .footer_bottom{
        position:relative;padding:20px 0 0 370px;ul li{float:left;a{padding:0 10px;color:#000;}}
        i{position:absolute;left:30%;display:inline-block;width: 40px;height: 60px;background: url('../img/fhlg.fw.png') -450px -100px;}
            }
  }

  nav{
    width: 100%; background-color:$mainColor;
    .container{position:relative;} 
    #nav_top{
        .nav_top_l{
            font-size: 18px;color:#000;width: 800px;
            h1{height: 42px;line-height: 42px;width: 186px;display:inline-block;text-align:center;cursor:pointer;}
            ul{li{float:left;a{display:block;height: 42px;line-height: 42px;padding:0 16px;color:#000;}a:hover{background-color:#333;color:#fff;}}}
        }
        .nav_top_r{margin-top: 9px;
            a{position:relative;display:inline-block;height: 24px;line-height: 24px;background-color: #fff;padding:0 10px;border-radius:5px 0 0 5px;color:#000;
            span{margin-left: 30px;}
            i{position:absolute;display:block;width: 20px;height: 20px;background:url('../img/fhlg.fw.png') 0 0; }}
            button{margin-left: -3px;border-radius:0 5px 5px 0;a{background-color:#FFDE00;color:#000;}a:hover{color:#fff;}}
        }
    }
    #nav_left{z-index:100;position:absolute;left:0;width: 186px;background-color: #F6F6F6;li{position:relative;padding-top:5px;}li a{display:block;height: 30px;line-height: 30px;font-size: 16px;color:#000;text-align:center;}li a:hover{background-color:#FFF;color:$mainColor;}li i{position:absolute;left:15%;display:block;width: 30px;height: 25px;background: url('../img/fhlg.fw.png') -280px 0;}}
}

.toTop{font-size: 16px;text-align:center;color:#000;border-radius:5px;background-color:$mainColor;height: 80px;width:30px;position:fixed;right:5%;top:50%;transform:translate(0,-50%);cursor:pointer;display:none;}