@import 'var';
#banner{
    overflow:hidden;
    width:100%;
    .container{position:relative;}
    #auto{
        position:relative;left:50%;transform:translate(-50%,0);
        width: 1920px;height: 480px;border:0;
    .prev{left:31%;background:url('../img/fhlg.fw.png') #000;background-position:-60px -385px;}
    .next{right:30%;background:url('../img/fhlg.fw.png') #000;background-position:-138px -385px;}}
    .banner_mes{width: 227px;height: 480px;background-color: #fff;position:absolute;right:-6%;top:0;
        a{display:block;position:relative;height: 40px;line-height: 40px;border-bottom:1px solid #ccc;font-size:16px;text-align:center;color:#000;i{position:absolute;left:30%;top:20%;display:block;width: 22px;height: 20px;background: url('../img/fhlg.fw.png') -50px 0}}
        .mes_list{a{font-size: 12px;border:none;text-align:left;height: 30px;line-height: 30px;}a:hover{color:#f00;}}
    }
}
main{
    background-color: #fff;
    margin-top:25px;
    .productlist_one{
        .lefttime{width: 190px;height: 270px;background-color:#FE0000;
            h1{padding-top:40px;font-size: 32px;height: 38px;line-height: 38px;text-align:center;color:#fff;}
            img{background: url('../img/fhlg.fw.png') 0 -200px;height: 33px;width: 130px;margin:50px 20px;border:0;}
                }
        .counttime{
            padding-left:20px;
            h3{font-size: 16px;color:#fff;text-align:center;padding-bottom:10px;}
            .hour,.min,.second{display:inline-block;height: 42px;line-height: 42px;width: 42px;border-radius:5px;background-color: #000;color:#fff;font-size: 24px; text-align:center;}
        }
       .pro_one_detail{
            ul{
            text-align:center;margin-left: 10px;
                h1{padding-top: 10px;font-size: 14px;color:#000;font-weight: bold;}
                li{float:left;margin-right: 3px;}
                img{width: 150px;height: 190px;cursor:pointer;}
                span{margin-top:10px;padding-left: 5px;display:inline-block;background-color: #f00;color:#fff;height: 30px;line-height: 30px;width: 117px;font-size: 18px;text-align:left;
                    del{font-size: 12px;padding-left:10px;}}
                 .catchbuy{border:1px solid #f00;height: 30px;line-height: 30px;display:inline-block;color:#f00;}   
            }
       }
    }
     // 公共头部sass
     .topic{
        border-bottom:2px solid #000;  margin-top:25px;
            h1{display:line-block;font-size: 20px;font-weight: bold;color:#000;position:relative;margin-left:30px;height: 34px;line-height: 34px;width: 100px;
                i{display:block;width: 30px;height: 34px;background:url('../img/fhlg.fw.png');position:absolute;left:-30px;}
              }
              ul li{float:left;a{font-size: 14px;height: 34px;line-height: 34px;color:#000;padding-right:25px;}a:hover{color:#f00;}}
    }
    // 商品公共sass
    .pro_base{
        div{overflow:hidden;}
        img:hover{transform:scale(1.1,1.1);opacity:0.8;cursor:pointer;}
        .base_left{width: 600px;}
        .base_right{text-align:center;
            li{overflow:hidden;float:left;img{width: 150px;height: 150px;cursor:pointer;}h2{padding-top: 5px;font-size: 12px;height: 24px;line-height: 24px;color:#000;width: 150px;overflow:hidden;}&:hover{color:$mainColor;}span{font-size: 16px;font-weight: bold;color:#f00;}}
        }
    }
}
