@import 'var';
.loginbox{
    background:url('../img/loginground');height: 500px;width: 100%;position:relative;
    .login{width: 300px;height: 400px;background-color: #fff;position:absolute;right:10%;top:10%;}
}
footer{padding-top:20px;}