/* ----------------------------------
咨询列表
--------------------------- */
.ui_consultationList {margin-bottom:10px}
.ui_consultationList .consultationBox {background:url(../image/consult/consultation_ico.gif) no-repeat 10px 8px;border-bottom:1px solid #E7E7E7;padding:8px 0 0px 40px}
.ui_consultationList .title {overflow:hidden;line-height:24px; zoom:1}
.ui_consultationList .title .tLeft {float:left;}
.ui_consultationList .title .tLeft span {padding-left:10px}
.ui_consultationList .title .tLeft b {color:#f90;}
.ui_consultationList .title .time {float:right;color:#999;}
.ui_consultationList .content {margin-bottom:10px}
.ui_consultationList .reply {color:#f90; margin-bottom:10px;}
.ui_consultationList .m_pname a { color:#999; text-decoration:underline;}
.ui_consultationList .m_pname a:hover { color:#0066ff;}
.ui_consultation_noresult {text-align:center;border:1px solid #FFE9C4;padding:13px 0;background:#FEF6F2; line-height:22px;}

/* 咨询弹框  */
.ms_minWin_consultation .ui_minWin { width:500px;}
.ms_minWin_consultation .content { padding-bottom:15px;}
.ms_minWin_consultation .m_consultation_post_txtarea { margin-bottom:2px;}
.m_consultation_post_title { height:30px; line-height:30px; color:#666; font-size:12px;font-weight:normal; padding-left:30px;}
.m_consultation_post_title .m_iptHint { margin-right:8px; font-weight:normal; }
.m_consultation_post_title .hint { font-weight:normal;padding-left:10px;}
.m_consultation_post_title em {padding-right:10px}
.m_consultation_post_content { margin-bottom:10px; padding-left:10px;}
.m_consultation_post_content .op .btn {float:left;margin:10px 0 10px 160px; width:80px; height:25px; border:none 0; cursor:pointer; background:url(../image/vi/vi_collect.png) no-repeat 0 0; font-weight:bold; color:#666;}
.m_consultation_post_content .op a.btnClose {float:left;padding:12px 0 0 30px;color:#3F70FC}
.m_consultation_post_content .op {overflow: hidden;zoom: 1;}

.m_consultation_post_inputTitle { padding-top:2px; padding-bottom:2px; width:520px; color:#ccc;}
.m_consultation_post_txtarea {border:solid 1px #ccc; width:320px; height:150px; color:#ccc; padding:6px 4px; vertical-align:text-bottom;}
.m_consultation_post_inputTitle_tips { color:#999; display:inline-block; line-height:20px; padding:0 6px 0 5px;}
.m_consultation_post_inputTitle_tips em { color:#ff6600;}
.consultation_reply .tips_txtarea {margin-left:80px;}
.consultation_reply .tips_name {display:inline-block; margin-left:80px;padding-top:5px}
.consultation_reply .name {float:left; color:#666;width:70px;text-align:right;padding-right:10px}
.consultation_reply .name em{padding-right:10px;color:#C00}

.ms_minWin_Succ .ui_minWin {top: 50% !important;margin-top: -130px !important;_top: 0;}
.ms_minWin_Succ .content {height: 150px;line-height: 150px;font-size: 14px;font-weight: bold;padding-left: 150px;background: url(../image/mode/icon_sucess.png) no-repeat 90px 55px;}
.ms_minWin_Succ .m_minWin_bdfd {height: 50px;line-height: 30px;color: #CCC;text-align: center;border-top: solid 1px #CCC;margin: 0 2px;}
.ms_minWin_Succ .content .title { padding-top:53px; line-height:26px;}
.ms_minWin_Succ .content .des { line-height:22px; font-weight:normal; font-size:12px;}