/* ================================================
@ vi_xunbao: vi 寻宝页面
=================================================== */
.vi_xunbao_des { background:#f8f8f8; border:solid 1px #eaeaea; padding:6px 0; margin-bottom:4px;}
.vi_proIntroduction_table th { text-align:left; padding-left:10px; font-weight:normal;}
.vi_proIntroduction_table .lbl { width:120px;}
.vi_proIntroduction_table .cont { width:350px;}

/* -------------------------------------------------
@ .vi_xunbaoIntro :寻宝说明
---------------------------------------------------- */
.vi_xunbaoIntro dl { padding:12px 10px; background:url(../image/vi/vi_dolt.png) repeat-x 0 0}
.vi_xunbaoIntro dt { margin-bottom:4px;}
.vi_xunbaoIntro dd { padding-left:2em; line-height:21px;}
.vi_xunbaoIntro .first { background:none;}
.vi_xunbaoIntro .hl { color:#f00;}

/* --------------------------------------------------
@ .vi_xunbaoSort :寻宝商品分类
----------------------------------------------------- */
.vi_xunbaoSort_title {font: normal 18px/38px "Microsoft YaHei",simhei;height:38px; overflow:hidden;padding:2px 0 0 15px;color:#c7012c;}
.vi_xunbaoSort_list { padding:0 15px;}
.vi_xunbaoSort_list .item { position:relative;height:21px; padding:8px 0; background:url(../image/vi/vi_subbg32.png) no-repeat center 0; line-height:0; font-size:0;}
.vi_xunbaoSort_list h4 { height:21px; overflow:hidden; font: normal 12px/21px simsun; padding-left:8px; background:url(../image/global/ui_icon.png) no-repeat 170px -255px; }
.vi_xunbaoSort_list .list { position:absolute; top:8px; left:132px; width:250px; padding:10px 5px 15px 10px; border:solid 2px #c7012c; z-index:3; overflow:hidden; zoom:1; background:#fff; display:none;}
.vi_xunbaoSort_list .list li { font-size:12px; float:left; width:108px; padding-left:6px;line-height:21px; height:21px; overflow:hidden; margin:0 10px 6px 0; background:url(../image/global/sl_header_icon.png) no-repeat 0 -71px; }

.vi_xunbaoSort_list .item_hover { z-index:2;}
.vi_xunbaoSort_list .item_hover h4 { background:#c7012c; color:#fff;}
.vi_xunbaoSort_list .item_hover .list { display:block;}

/* --------------------------------------------------
@ .vi_xbrelative :相关寻宝商品
-----------------------------------------------------  */
.vi_xbrelative_title {font: normal 18px/38px "Microsoft YaHei",simhei; height:38px; overflow:hidden; padding:0 0 0 10px;color:#c7012c; border-bottom:2px solid #c7120c;}
.vi_xbrelative_list { padding:13px 0 0;}
.vi_xbrelative_list .ui_pro75 { padding-bottom:16px; padding-top:2px; padding-right:8px;}

/* =====================================================================
@ V980
======================================================================== */
.V980 .vi_proIntroduction_table .cont { width:250px;} 

.V980 .vi_xunbaoSort_list h4 {background:url(../image/global/ui_icon.png) no-repeat 150px -255px;}
.V980 .vi_xunbaoSort_list .item_hover h4 { background:#c7012c;}
