@charset "utf-8";
/* CSS Document */

body, p, div, span, ul, li ,a{ margin:0; padding:0; border:0;font-family:"微软雅黑",Georgia, "Times New Roman", Times, serif;}

.clearfix:after { content:" "; display:block; height:0; clear:both; }
.clearfix { *zoom:1;}
li { list-style:none; }
.fl { float:left;}
img { border:none;  }

/* -------------------------------------
@ .vhd_banner:banner
---------------------------------------- */
.banner_block{
	min-width:988px;
	text-align:center;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.banner01{
	background:url(banner01.jpg) no-repeat center top; 
	height:131px;	
}
.banner02{
	background:url(banner02.jpg) no-repeat center top; 
	height:148px;	
}
.banner03{
	background:url(banner03.jpg) no-repeat center top; 
	height:149px;	
}
.banner04{
	background:url(banner04.jpg) no-repeat center top; 
	height:197px;
}

.banner05{
	background:url(banner05.jpg) no-repeat center top; 
	height:222px;
}
/*.banner05 .banner_img{
	width:988px;
	margin:0 auto;
	position: relative;
}
.banner_img ul{
}

.banner_img ul li{
 	 list-style-type:none;
	 float:left;
	 font-family:Microsoft Yahei;
	 font-size:14px;
	 color:#fff;
	 width: 132px;
}
.banner_img .quan1{
	left: 519px;
    position: absolute;
    top: 165px;
}
.banner_img .quan2{
    left: 680px;
    position: absolute;
    top: 165px;
}
.banner_img .quan3{
	left: 839px;
    position: absolute;
    top: 165px;
}
*/.vhd_container{
	min-width:988px;
	overflow:hidden;
	margin:0 auto;
	background:#4FC6FF;
	position:relative;
}

.vhd_container .w988{
	width:988px;
	background: #4FC6FF;
	position: relative;
	margin:0 auto;
}
.vhd_container .pro_item,.vhd_container .pro_item1 {
	width:988px;
	margin:0 auto;
	background: #4FC6FF;
}
.vhd_container .pro_item .ui_pro{
	width:321px;
	height:344px;
	float:left;
	overflow:hidden;
	text-align:center;
	background:url(pro_bg.png) no-repeat center top;;
	margin:4px;
	position:relative;
/*	border-radius:10px;
*/
}
.vhd_container .pro_item1 .ui_pro{
	width:485px;
	height:343px;
	float:left;
	overflow:hidden;
	text-align:center;
	background:url(pro_bg_2.png) no-repeat center top;;
	margin:5px 4px;
	position:relative;
/*	border-radius:10px;
*/
}

.pro_item .ui_pro .ui_pimg{
	width: 228px;
    height: 228px;
    padding: 0px 35px;
	margin:10px;
}
.pro_item1 .ui_pro .ui_pimg{
	width: 228px;
    height: 228px;
    padding: 32px 10px;
	margin: 26px 10px;
	float: left;
}

.pro_item .ui_pro .ui_pattribute{
	background:#fea5a9;
	padding: 5px;
}
.pro_item1 .ui_pro .ui_pattribute{
	margin: 38px 10px;
	float: left;
	width: 196px;
}

.pro_item .ui_pro .ui_pname{
	margin: 0 15px;
	text-align:center;
	overflow:hidden;
	height:28px;
	line-height: 30px;
}
.pro_item1 .ui_pro .ui_pname{
	margin: 30px 0px;
	text-align:left;
	overflow:hidden;
	height:47px;
	line-height: 23px;
	white-space: normal;
}

.ui_pro .ui_pname a{
	font-size:18px;
	font-family:Microsoft Yahei;
	text-decoration:none;
	color:#fff;
}
.pro_item1 .ui_pro .ui_pname a{
	font-size:18px;
	font-family:Microsoft Yahei;
	text-decoration:none;
	color:#ff0000;
}

.old_pprice{
	background:url(btn.jpg) no-repeat 88% 60%;
	height:39px;
	position:relative;
	text-align:left;
	padding: 10px;
	font-size:14px;
	font-family:Microsoft Yahei;
	cursor:pointer;

}
.pro_item1 .old_pprice{
	background:url(btn.jpg) no-repeat 0% 60%;
	height:140px;
	position:relative;
	text-align:left;
	padding: 10px 0;
	font-size:14px;
	font-family:Microsoft Yahei;
	cursor:pointer;

}

.old_pprice a:hover{
	text-decoration:none;
	}
.yuanjia{
	margin-left:20px;
	text-decoration:line-through;
	color:#999999;
	display: inline-block;
	position:absolute;
}
.pro_item1 .yuanjia{
	text-decoration:line-through;
	color:#999999;
	display: inline-block;
	position:absolute;
	margin-left: 0px;
}

.pro_item .ui_pro .ui_pprice{
	line-height:38px;
	position: absolute;
    left: 29px;
    top: 15px;
	height:50px;
	font-size:18px;
	font-family:Microsoft Yahei;
	color:#ff6666;
}

.pro_item1 .ui_pro .ui_pprice{
	line-height:65px;
	height:50px;
	font-size:18px;
	font-family:Microsoft Yahei;
	color:#ff0000;
	display: inline-block;
}

.ui_pprice_e{
	color:#ff6666;
	line-height:32px;
}
.old_pprice .ui_pprice_e em{
	font-size:36px;
	font-style:normal;
	height:80px;
	color:#ff6666;
	font-weight: normal;
}
.pro_item1 .ui_pprice_e{
	color:#ff0000;
	line-height:32px;
}
.pro_item1 .old_pprice .ui_pprice_e em{
	font-size:36px;
	font-style:normal;
	height:80px;
	color:#ff0000;
	font-weight: normal;
}
a:hover .old_pprice{
	text-decoration:none;
}
.footer{
	background:url(footer.jpg) no-repeat center top;
	height:189px;
	min-width:988px;	
}
.footer_top{
	margin:0 auto;	
	width:988px;
}
.ui_pro img{
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.ui_pro:hover img{opacity: 0.85;
	-webkit-transform: scale3d(1.02,1.02,1);
	transform: scale3d(1.02,1.02,1);}
/*.ui_pro:hover img{ transform:scale(1.08, 1.08); -webkit-transition: all .5s ease-in-out ; -moz-transition: all .5s ease-in-out ;-o-transition: all .5s ease-in-out; transition: all .5s ease-in-out ; max-width:100%; }

.pro_item .ui_pro:hover { box-shadow: rgba(0,0,0,0.7) 0 0 8px; transform: translateY(-5px); -webkit-transform: translateY(-5px); z-index: 8; }
.pro_item .ui_pro { margin-top:5px; margin-bottom:5px; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }
*/


/*跟随菜单*/

#vhd_siderBar { height:320px; position: fixed; top:161px; width: 161px; z-index: 5;  background:url(side.png) no-repeat left 0px; font-family:Microsoft Yahei; }
#vhd_siderBar ul {  margin:44px 11px 0 11px; }
#vhd_siderBar ul li{ height: 39px; width: 140px; cursor:pointer; line-height:40px; font-size:18px; color:#fff; text-align:center; font-weight:bold; }
#vhd_siderBar ul li:hover{color:#ffff00; font-weight:bold; font-size:18px;}
#vhd_siderBar a{display: block; text-decoration: none; color: #fff; height:57px; font-weight:bold; font-size:18px;line-height:44px; text-align:center; width: 95px; }
#vhd_siderBar .gotop{ height:28px; width:104px; cursor:pointer; text-align:center; margin: 0px 36px 0 0px; }
