#header_top {
  background-color: #EBEBEB;
  border-bottom: 1px solid #ccc;
}

#header_top li {
  float: left;
  height: 28px;
  line-height: 28px;
  padding-right: 8px;
}

#header_top .ht_left li:nth-child(2) a, #header_top .ht_left li:nth-child(4) a {
  color: #0066FF;
}

#header_top .ht_right li:nth-child(2) {
  padding: 0 15px;
}

.car_main {
  padding-top: 100px;
}

.car_main div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.car_main img {
  width: 130px;
  height: 100px;
}
