.logo1 {
  display: inline-block;
}

.logo1 a {
  display: block;
  height: 95px;
  width: 300px;
  background: url("../img/fhlg.fw.png") 0 -70px;
}

.list_main {
  height: 1500px;
}

.list_main .list_main_l {
  width: 230px;
  height: 1500px;
}

.list_main .list_main_r .list_main_r_m li {
  float: left;
  padding: 10px 15px;
}

.list_main .list_main_r .list_main_r_m img {
  height: 140px;
}

.list_main .list_main_r .list_main_r_m h2 {
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

.list_main .list_main_r .list_main_r_m span {
  font-size: 14px;
  color: #f00;
  padding: 5px 0;
}

.list_main .list_main_r .list_main_r_m button {
  background-color: #FFC400;
  color: #fff;
  padding: 5px 5px;
  margin-right: 5px;
}
