.logo {
  width: 100%;
}

.logo a {
  display: block;
  height: 95px;
  width: 300px;
  background: url("../img/fhlg.fw.png") 0 -70px;
}

.loginbox {
  width: 100%;
  background-color: #F81E2C;
}

.loginbox .container {
  background: url("../img/login/login_ad.jpg") no-repeat;
  height: 500px;
  position: relative;
}

.loginbox .login_register {
  width: 300px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  right: 10%;
  top: 7%;
  box-shadow: 2px 2px 2px 2px;
}

.loginbox .login_register h1 {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.loginbox .login_register h1 span {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.loginbox .login_register h1 span:last-child {
  border: 0;
}

.loginbox .login_register .base .lr_det {
  padding: 0 20px;
}

.loginbox .login_register .base .lr_det div {
  border: 1px solid #ccc;
  margin-top: 30px;
}

.loginbox .login_register .base .lr_det div i {
  display: line-block;
  width: 30px;
  height: 35px;
}

.loginbox .login_register .base .lr_det div i img {
  width: 30px;
  height: 25px;
}

.loginbox .login_register .base .lr_det div input {
  height: 35px;
  width: 200px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
  font-size: 14px;
}

.loginbox .login_register .base .lr_det div #vcode {
  width: 130px;
}

.loginbox .login_register .base .lr_det div #getCode {
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  background-color: #F81E2C;
  color: #fff;
}

.loginbox .login_register .base .lr_det div span {
  width: 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.loginbox .login_register .base .lr_det .tips {
  width: 200px;
  height: 20px;
  background-color: skyblue;
  position: absolute;
  top: 37px;
  left: 20px;
  display: none;
}

.loginbox .login_register .base .fast_signin {
  margin: 10px 20px;
  width: 260px;
  height: 35px;
}

.loginbox .login_register .base .base_lr {
  width: 260px;
  height: 35px;
  line-height: 35px;
  margin: 20px 20px;
  background-color: #F81E2C;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.loginbox .login_register #lr_login {
  position: absolute;
  top: 40px;
}

.loginbox .login_register #lr_login .forget {
  padding-left: 115px;
}

.loginbox .login_register #lr_register {
  width: 300px;
  height: 360px;
  position: absolute;
  top: 40px;
  display: none;
}

.loginbox .login_register #lr_register input {
  height: 30px;
}

.loginbox .login_register #lr_register div {
  margin-top: 20px;
}

.loginbox .login_register #lr_register #register {
  margin-top: 15px;
  position: relative;
}

.loginbox .login_register #lr_register .get_flle {
  margin: 0 20px;
  width: 260px;
  height: 30px;
  line-height: 30px;
}

.loginbox .login_register #lr_register .tips {
  position: absolute;
  top: 30px;
  left: 20px;
  display: none;
}

footer {
  padding-top: 10px;
}
